$font: "Rubik", sans-serif;

$primary: #ddb636;
$bg-modal: #0f1112cb;
$bg-block: #0f1112;
$text-gray: #4f5157;
$text-light-gray: #919296;
$gray: #181a1e;
$white: #fdfdfd;

$radius: 0.7rem;
$gap: 30px;
