@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.time-page {
    min-height: 100vh;
    @include flex-horizontal-center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__time {
        font-size: 9rem;
        @media (max-width:620px) {
            &{
                font-size: 5rem;
            }
        }
        @media (max-width:420px) {
            &{
                font-size: 3rem;
            }
        }
    }
    &__date {
        font-size: 2rem;
        font-weight: 600;
        @media (max-width:620px) {
            &{
                font-size: 1rem;
            }
        }
       
    }
}
