@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.header {
    position: relative;
    padding: 25px 40px;
    @include flex-horizontal-center;
    justify-content: space-between;
    &__linksElement {
        cursor: pointer;
        width: 40px;
        height: 70px;
        &_title {
            opacity: 0.9;
            @include transition(opacity);
            &:hover {
                opacity: 1;
            }
        }
        &_img {
            width: 40px;
            height: 40px;
        }
    }
    &__metric-block {
        min-width: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
        &_stat{
         display: flex;
        }
        &_curnt-stat {
            width: 25px;
            height: 25px;
        }
        &_degree {
            font-size: 36px;
            margin-left: 20px;
            &::after {
                content: "\00B0";
            }
        }
        &_label{
            margin-top: -10px;
        }
    }
}
